{% extends 'base.html.twig' %}

{% block content %}
<main class="wrapper">
    <h1>Welcome to Cheapskate MVC</h1>
    <p>You can start writing your application. Refer to README.md for documentation</p>
</main>
{% endblock %}